extends layout

block content

  div.flex-center
    div.block.w3-mobile
    
      div(class="w3-container")
        img.w3-image(src='/img/logo.png')
        
      div(class="w3-container")
        .text.space
          h3 خرید اشتراک از رسانه موسیقی ملودیکو
          p لطفا اشتراک مورد نظر خود را انتخاب کنید و در صفحه پرداخت مشخصات خواسته شده را وارد کنید. پس از پرداخت به صورت اتوماتیک اشتراک برای شما ثبت خواهد شد.
          P شماره تماس پشتیبانی: 09360513553 نوید شاد
          
          a(href="https://t.me/bartaonana")
            |آدرس کانال تلگرام
          
          div.rules
            h5 قوانین فروش اشتراک
            ul
              li فقط کاربرانی که از کانال و ربات ملودیکو شماره کاربری دریافت میکنند قادر هستند اشتراک خریداری کنند.
              li اشتراک خریداری شده تحت هیچ شرایطی قابل مرجوع شدن نیست.
              li در صورت بروز مشکل در استفاده از خدمات ملودیکو و یا در هنگام خرید، فقط با شماره تماس پشتیبانی تماس حاصل فرمائید.
          
        .space
          input#userid.w3-input.w3-border.space(name="text", placeholder='شماره کاربری')
          
          select#tariff.w3-select.w3-border.space(name="tarrif")
            each tariff in subscriptions
              option(id=tariff._id value=tariff._id tname=tariff.name price=tariff.price)=tariff.name + ' | ' + tariff.days + ' روز | ' + tariff.download_per_day + ' دانلود در روز | ' + tariff.price + ' تومان'
              
          button#pay.space(class="w3-button w3-round-large w3-border w3-red w3-block") خرید
